<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vip-Chats - New Client</title>


    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/jquery.dynatable.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dynatable.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
<%- include menu.ejs %>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-plus"></i> New Client
            </div>
            <div class="card-body">
               <form method="post" action="clients_api_new">
                   <div class="row">
                       <div class="col-md-8">
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label for="inputphone">Nombre del cliente</label>
                                       <input class="form-control" name="firstname" id="firstname" type="text" placeholder="Enter name" required>
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <label for="inputphone">Apellido del cliente</label>
                                   <input class="form-control" name="lastname" id="lastname" type="text" placeholder="Last name" required>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label for="inputphone">Guest Phone</label>
                                       <input class="form-control" name="Phone" id="Phone" type="text" placeholder="Enter phone" value="+34" required>
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <label for="inputphone">Address</label>
                                   <input class="form-control" name="City" id="City" type="text" placeholder="Enter Address">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-3">
                           <div class="form-check form-check-inline">
                               <input name="is_protect" type="checkbox" >
                               <label  for="is_protect">
                                   Data Protection
                               </label>
                           </div>
                           <div class="form-check form-check-inline">
                               <input name="is_promo"  type="checkbox"  >
                               <label for="is_promo">
                                   Promotions
                               </label>
                           </div>
                           <div class="form-check form-check-inline">
                               <input name="is_parking" type="checkbox" >
                               <label for="is_parking">
                                   Parking
                               </label>
                           </div>
                           <div class="form-check form-check-inline">
                               <input name="is_checkin" type="checkbox" >
                               <label for="is_checkin">
                                   CheckIn
                               </label>
                           </div>
                       </div>
                   </div>
                   <!--
                   <div class="row">
                       <div class="col-md-3">
                           <div class="form-check form-check-inline">
                               <input name="is_protect" type="checkbox" >
                               <label  for="is_protect">
                                   Data Protection
                               </label>
                           </div>
                           <br/>
                           <textarea style="width:100%" rows="5" placeholder="Data Protection Signature (Optional)"></textarea>
                       </div>
                       <div class="col-md-3">
                           <div class="form-check form-check-inline">
                               <input name="is_promo"  type="checkbox"  >
                               <label for="is_promo">
                                   Promotions
                               </label>
                           </div>
                           <br/>
                           <textarea style="width:100%" rows="5"  placeholder="Promotions Signature (Optional)"></textarea>
                       </div>
                       <div class="col-md-3">
                           <div class="form-check form-check-inline">
                               <input name="is_parking" type="checkbox" >
                               <label for="is_parking">
                                   Parking
                               </label>
                           </div>
                           <br/>
                           <textarea style="width:100%" rows="5" placeholder="Parking Signature (Optional)"></textarea>
                       </div>
                       <div class="col-md-3">
                           <div class="form-check form-check-inline">
                               <input name="is_checkin" type="checkbox" >
                               <label for="is_checkin">
                                   CheckIn
                               </label>
                           </div>
                           <br/>
                           <textarea style="width:100%" rows="5" placeholder="CheckIn Signature (Optional)"></textarea>
                       </div>
                   </div>
                   -->
                   <div class="row">
                       <div class="col-md-12" align="center">
                           <a class="btn btn-info btn-lg" onclick="javascript:history.go(-1);">Back</a>
                           <input class="btn btn-primary btn-lg" type="submit" value="Submit">
                       </div>
                   </div>
               </form>

                <h6>  <%= message %>  </h6>

           </div>
        </div>
    </div>
 </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>
</body>
</html>
