<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vip-Chats - New Client</title>


    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/jquery.dynatable.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dynatable.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
<div class="content-wrapper">
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
               <h1 align="center">Sorry, your complimentary 14-day free trial activation has been expired already</h1>
                <br/>
                <h2 class="text-primary" align="center">Please, subscribe to a service to keep using our awesome
                    services </h2>
           </div>
        </div>
    </div>
 </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>
</body>
</html>
