#clientTable thead {
    background-color: gray;
}

#clientTable tbody {
    font-size: 13px;
}

#clientTable tbody tr:hover {
    cursor: pointer;
    background-color: lightgray;
}

#bookingTable thead {
    background-color: gray;
}

#bookingTable tbody {
    font-size: 13px;
}